<div id="site-name">
  <h1><a href="/">Mars Rovers</a></h1>
</div>
<nav>
  <a href="./Curiosity">Curiosity</a>
  &nbsp;|&nbsp;
  <a href="./Spirit">Spirit</a>
  &nbsp;|&nbsp;
  <a href="./Opportunity">Opportunity</a>
</nav>
