:root {
  --mars-red: #ba2c00;
  --transparent-background: #ffffffd1;
  --white-border: 2px solid #fff;
  --gray-text: #333;
  --header-gray: #444;
}

a {
  text-decoration: none;
}

html {
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-position: center;
  background-image: url('../images/curiosity-pia22207-16.jpg');
  background-repeat: repeat-y;
  background-color: #bda18b;
  height: 100vh;
  min-height: 100vh;
  position: relative; 
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

header {
  z-index: 1;
  position: fixed;
  background-color: #444;
  border-bottom: 2px solid var(--mars-red);
  padding: 0.5rem 5vw;
  min-width: 100vw;
  height: auto;
  grid-area: 1/ 1 / 2 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Using visibility:hidden with size of 1px because visibility:hidden 
affects document flow and you can't reverse display:none with CSS */
nav {
 visibility: hidden;
  height: 1px;
  width: 1px;
}

#site-name {
  padding: 0 .4rem;
  font-size: 0.8rem;
  color: #fff;
}

#site-name > h1 > a {
  color: #fff;
  text-decoration: none;
  font-size: 1.7rem;
}

#site-name > h1 > a:hover {
  color: var(--mars-red);
}

main {
  padding: 2.1rem 0.5rem;
  overflow-y: scroll;
  grid-area: 2 / 1 / 3 / 2;
  min-width: 100vw;
}

.cards-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rover-card{
  width: 95vw;
  background-color: var(--transparent-background);
  margin: 0.3rem;
  box-shadow: 5px 7px 15px 1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 5px 7px 15px 1px rgba(0, 0, 0, 0.45); 
}

.rover-card > a {
  display: grid;
  grid-template-columns: 40% 1fr; /* match col 1 to card-img width */
  grid-template-rows: 25% 1fr auto;
  
}


.card-heading {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
  justify-self: center;
  font-size: 5vw;
  color: var(--mars-red);

}

.card-img {
  grid-area: 1 / 1 / 3 / 3;
  max-width: 40%; /* match first column width */
}

.card-ul {
  grid-area: 2 / 2 / 3 / 3;
  align-self: center;
  justify-self: center;
  font-size: 3.5vw;
  color: var(--gray-text);
}

.card-ul:hover {
  color: var(--mars-red)
} 

#search-form {
  grid-area: 3 / 1 / 4 / 2;
  display: grid;
  row-gap: 0.3rem;
  margin: 0.5rem;
}

.form-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: inherit;
}

.form-btn{
  background-color: var(--header-gray);
  color:#fff;
  border-radius: 3px;
  font-size: medium;
}

#sol {
  width: 10ch;
}

.form-btn:hover {
  cursor: pointer;
  color: var(--mars-red);
  border: 1px solid var(--mars-red);
}

.pic-area {
  width: 95vw;
  display: grid;
  grid-template-columns: 49% 49% ;
  margin: auto;
  justify-content: space-between;
  grid-row-gap: 0.3rem;
}

.img-wrapper {
  position: relative;
  margin: 0;
}

.rover-img {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  box-shadow: 5px 7px 15px 1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 5px 7px 15px 1px rgba(0, 0, 0, 0.45); 
}

.caption {
  position: absolute;
  bottom: 3%;
  left: 3%;
  color: #fff;
  text-shadow: 2px 2px 3px #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.table-area {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  max-width: 100vw;
  height: 100vh;
  overflow-y: auto;
  color: white;
  background-color: #0000008c;
  backdrop-filter: blur(0.2em);
  font-size: large;
}

.table-area-hide {
  transform: translate3d(100%, 0px, 0px);
  transition: all 0.33s ease 0s;
}

.visible-area-show{
  transform: translate3d(-100%, 0px, 0px);
  transition: all 0.33s ease 0s;
}

.table-container {
  position: relative;
}

.close-manifest {
  padding: 0.2rem 0 0 0.5rem;
  top: 0;
  position: sticky;
  font-size: 1.75rem; /* font-size + padding must match top of th to prevent overlap when scrolling */
  background-color: #000;
}

.close-manifest:hover {
  cursor: pointer;
  color: var(--mars-red);
}


.manifest-table {
  border-collapse: collapse;
}

th, td {
  font-size: 2.5vw;
}

th {
  padding: .2rem;
  font-weight: bold;
  background-color: #000;
  top: 1.75rem; /* match font size + padding of .close-manifest */
  position: sticky;
}

td {
  overflow-y: auto;
}

th, td {
  font-size: 2.5vw;
}

.col4 {
  padding-right: 1rem;
} 

/* ---------------------------min-width: 769px--------------------------------------------- */
@media(min-width: 769px) {

  header {
    justify-content: space-between;
  }

  nav {
    visibility: visible;
    height: auto;
    width: auto;
    color: #fff;
  }

  nav > a {
    color: #fff;
    text-decoration: none;
    font-size: initial;   
  }
  
  nav > a:hover {
    color: var(--mars-red);
  }

  .cards-container {
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }

  .rover-card {
    padding: 0.5rem;
    max-width: 275px;
  }

  .rover-card > a {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-row-gap: 0.75rem;
  }

  .card-heading {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: auto;
    font-size: x-large;
}

  .card-img {
    grid-area: 2 / 1 / 3 / 2;
    max-width: 100%;
  }


  .card-ul {
    grid-area: 3 / 1 / 4 / 2;
    justify-self: auto;
    font-size: 2vw;
  }

 .form.btn {
    font-size: larger;
  }

  th {
    font-size: 1.25rem;
  }

  td {
    font-size: 1.0rem;
  }

}

/* ------------------------------min-width: 880px------------------------------------------ */

@media(min-width: 880px) {
  .card-ul {
    font-size: 1.1rem;
  }
}
/* -------------------------------min-width: 1025px----------------------------------------- */

@media(min-width: 1025px) {
  main{
    padding: 3rem 0.5rem;
  }
  .rover-card { 
    max-width: 325px;
    
  }
}

/* 415 769 */
/*------------------------------MOBILE LANDSCAPE----------------------------*/
@media only screen and (max-height: 415px) and (min-width: 769px){

  .rover-card {
    max-width: fit-content
  }
  
  .rover-card > a {
    grid-row-gap: 0.3rem;
    
  }

  .card-heading {
    font-size: 4.3vh;
  }

  .card-img {
   max-width: 50Vh;
  }

  .card-ul {
    font-size: 3.2vh;
  }

  .search-form > div{
    font-size: 3.2vh;
  }

  
 }
 /*------------------------------------------------------------------*/  
 