/* this file is to overide main layout on search-page */

@media(min-width: 769px) {
  main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    align-items: baseline;
  }

  .rover-card {
    grid-area: 1 / 1 / 2 / 2;
  }
}
