:root {
  --mars-red: #ba2c00;
  --transparent-background: #ffffffd1;
  --white-border: 2px solid #fff;
  --gray-text: #333;
  --header-gray: #444;
}

a {
  text-decoration: none;
}

html {
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-position: center;
  background-image: url('../curiosity-pia22207-16.jpg');
  background-repeat: repeat-y;
  background-color: #bda18b;
  height: 100vh;
  min-height: 100vh;
  position: relative; 
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

header {
  position: fixed;
  background-color: #444;
  border-bottom: 2px solid var(--mars-red);
  padding: 0.5rem 5vw;
  min-width: 100vw;
  height: auto;
  grid-area: 1/ 1 / 2 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Using visibility:hidden with size of 1px because visibility:hidden 
affects document flow and you can't reverse display:none with CSS */
nav {
 visibility: hidden;
  height: 1px;
  width: 1px;
}

#site-name {
  padding: 0 .4rem;
  font-size: 0.8rem;
  color: #fff;
}

#site-name > h1 > a {
  color: #fff;
  text-decoration: none;
  font-size: 1.7rem;
}

#site-name > h1 > a:hover {
  color: var(--mars-red);
}

main {
  margin-top: 3rem;
  grid-area: 2 / 1 / 3 / 2;
  min-width: 100vw;
}

.cards-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rover-card{
  width: 95vw;
  background-color: var(--transparent-background);
  margin: 0.3rem;
  box-shadow: 5px 7px 15px 1px rgba(0,0,0,0.45);
  -webkit-box-shadow: 5px 7px 15px 1px rgba(0,0,0,0.45); 
}

.rover-card > a {
  display: grid;
  grid-template-columns: 40% 1fr; /* match col 1 to card-img width */
  grid-template-rows: 25% 1fr auto;
  
}

.card-heading {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
  justify-self: center;
  font-size: 5vw;
  color: var(--mars-red);

}

.card-img {
  grid-area: 1 / 1 / 3 / 3;
  max-width: 40%; /* match first column width */
}

.card-ul {
  grid-area: 2 / 2 / 3 / 3;
  align-self: center;
  justify-self: center;
  font-size: 3.5vw;
  color: var(--gray-text);
}

#search-form {
  grid-area: 3 / 1 / 4 / 2;
  display: grid;
  row-gap: 0.3rem;
  margin: 0.5rem;
}

.form-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: inherit;
}

.submit-btn,
.reset-btn {
  background-color: var(--header-gray);
  color:#fff;
  border-radius: 3px;
  font-size: large;
}

.submit-btn:hover,
.reset-btn:hover {
  color: var(--mars-red);
  border: 1px solid var(--mars-red);
}

.pic-area {
  width: 95vw;
  display: grid;
  grid-template-columns: 49% 49%;
  margin: auto;
  justify-content: space-between;
  grid-row-gap: 0.3rem;
}

.table-area {
  display: none;
}

/*------------------------------TABLET----------------------------*/
/* @media only screen and (min-width: 481px) {} */

/*------------------------------------------------------------------*/  
@media(min-width: 769px) {

  header {
    justify-content: space-between;
  }

  nav {
    visibility: visible;
    height: auto;
    width: auto;
    color: #fff;
  }

  nav > a {
    color: #fff;
    text-decoration: none;
    font-size: initial;   
  }
  
  nav > a:hover {
    color: var(--mars-red);
  }

  .cards-container {
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }

  .rover-card {
    padding: 0.5rem;
    max-width: 275px;
  }

  .rover-card > a {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-row-gap: 0.75rem;
  }

  .card-heading {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: auto;
    font-size: x-large;
}

  .card-img {
    grid-area: 2 / 1 / 3 / 2;
    max-width: 100%;
  }


  .card-ul {
    grid-area: 3 / 1 / 4 / 2;
    justify-self: auto;
    font-size: 2vw;
  }

  .submit-btn,
  .reset-btn {
    font-size: larger;
  }
}


@media(min-width: 880px) {
  .card-ul {
    font-size: 1.1rem;
  }
}


@media(min-width: 1025px) {
  .rover-card { 
    max-width: 325px;
  }
}